.sidebar {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 15%;
    height: 100%;
    background-color: #dbc9c9c2;
    overflow: auto;
    float: left;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #404745;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.fa {
    margin-right: 10px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
